<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.routinergram.feed.repository.FeedRepository">

	<insert id="insertFeed" parameterType="com.routinergram.feed.domain.Feed">
	
		INSERT INTO `feed` 
			(`image`,`text`,`levelValue`,`UID`,`ITRID`)
		VALUE
			(
			#{image}
			,#{text}
			,#{levelValue}
			,#{UID}
			,#{ITRID}
			)
	
	</insert>

	<select	id="selectFeedAll" resultType="com.routinergram.feed.domain.Feed">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `feed`
		ORDER BY `FID` DESC;
	</select>
	
	<select	id="selectFeedByITRID" resultType="com.routinergram.feed.domain.Feed">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `feed`
		WHERE `ITRID` = #{ITRID}
		ORDER BY `FID` DESC;
	</select>
	
	<select	id="selectFeedByFID" parameterType="com.routinergram.feed.domain.Feed" resultType="com.routinergram.feed.domain.Feed">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `feed`
		WHERE FID = #{FID}
	</select>
	
	<select id="selectFeedToEdit" resultType="com.routinergram.feed.domain.Feed">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `feed`
		WHERE `FID`=#{FID} AND `UID`=#{UID}
	</select>

	<update id="updateFeed">
	UPDATE `feed`
		SET `text` = #{text}
		WHERE `FID`=#{FID} AND `UID`=#{UID}
	</update>
	
	<delete id="deleteFeed">
	DELETE FROM `feed`
	WHERE `FID`=#{FID} AND `UID`=#{UID}
	</delete>
	
</mapper>