<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.routinergram.Feeds.repository.FeedsRepository">

	<insert id="insertFeeds" parameterType="com.routinergram.Feeds.domain.Feeds">
	
		INSERT INTO `Feeds` 
			(`image`,`text`,`levelValue`,`UID`,`ITRID`)
		VALUE
			(
			#{image}
			,#{text}
			,#{levelValue}
			,#{UID}
			,#{ITRID}
			)
	
	</insert>

	<select	id="selectFeedsAll" resultType="com.routinergram.Feeds.domain.Feeds">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `Feeds`
		ORDER BY `FID` DESC;
	</select>
	
	<select	id="selectFeedsByITRID" resultType="com.routinergram.Feeds.domain.Feeds">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `Feeds`
		WHERE `ITRID` = #{ITRID}
		ORDER BY `FID` DESC;
	</select>
	
	<select	id="selectFeedsListByUID" resultType="com.routinergram.Feeds.domain.Feeds">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `Feeds`
		WHERE `UID` = #{UID}
		ORDER BY `FID` DESC;
	</select>
	
	<select	id="selectFeedsByFID" parameterType="com.routinergram.Feeds.domain.Feeds" resultType="com.routinergram.Feeds.domain.Feeds">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `Feeds`
		WHERE FID = #{FID}
	</select>
	
	<select id="selectFeedsToEdit" resultType="com.routinergram.Feeds.domain.Feeds">
		SELECT
			`FID`
			,`image`
			,`text`
			,`levelValue`
			,`UID`
			,`ITRID`
			,`createdAt`
			,`updatedAt`
		FROM `Feeds`
		WHERE `FID`=#{FID} AND `UID`=#{UID}
	</select>

	<update id="updateFeeds">
	UPDATE `Feeds`
		SET `text` = #{text}, `updatedAt` = now()
		WHERE `FID`=#{FID} AND `UID`=#{UID}
	</update>
	
	<delete id="deleteFeeds">
	DELETE FROM `Feeds`
	WHERE `FID`=#{FID} AND `UID`=#{UID}
	</delete>
	
</mapper>