<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.routinergram.interests.repository.InterestsRepository">

	<select id="selectInterestnameByITRID" parameterType="int" resultType="String">
		SELECT 
			 `interestName`
			 FROM `interests`
			 WHERE `ITRID` = #{ITRID}
	</select>

	<select id="selectInterestsList" resultType="com.routinergram.interests.domain.Interests">
		SELECT
			`ITRID`
			,`interestName`
			,`createdAt`
			,`updatedAt`
		 FROM `interests`
	</select>

</mapper>

