<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.routinergram.user.repository.UserNicknameRepository">

 	 <select id = "nicknameCount" parameterType="map" resultType="int">
 		SELECT COUNT(1) 
 			FROM `UserNickname`
 			WHERE nickname = #{nickname}
 	</select>
 	
 	<insert id = "insertNickname" parameterType = "map" useGeneratedKeys="true" keyProperty="NickID">
 		INSERT INTO `UserNickname`
 			(`nickname`)
 		VALUE(
 			#{nickname}
 		)
 	</insert>
 	
 	<update id = "updateNickname" parameterType = "map">
 		UPDATE `UserNickname`
	 		SET 
	 			`UID` = #{UID}
	 			,`updatedAt` = now()
 			WHERE `NickID` = #{NickID}
 	</update>
 	
 	<select id="selectNicknameByNickID" parameterType="map" resultType="String">
 		SELECT `nickname`
 		FROM `UserNickname`
 		WHERE NickID = #{NickID}
 	</select>
 	
 	<select id="selectNicknameByUID" parameterType="map" resultType="String">
 		SELECT `nickname`
 		FROM `UserNickname`
 		WHERE UID = #{UID}
 		ORDER BY `NickID` DESC
 		LIMIT 1;
 		
 	</select>
 	
 	<delete id="deleteNicknameByNickID" parameterType="int">
	 	DELETE FROM `UserNickname`
		WHERE `NickID` = #{NickID};
 	</delete>
 	
 	<select id="selectNicknameListByUID" parameterType="int" resultType="com.routinergram.user.domain.UserNickname">
 		SELECT 
 			`NickID`,`nickname`,`UID`,`createdAt`,`updatedAt`
 		FROM `UserNickname`
 		WHERE `UID` = ${UID}
 		ORDER BY `NickID` DESC;
 	</select>
 	
 </mapper>