<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.routinergram.user.repository.UserNicknameRepository">

 	 <select id = "nicknameCount" parameterType="map" resultType="int">
 		SELECT COUNT(1) 
 			FROM usernickname
 			WHERE nickname = #{nickname}
 	</select>
 	
 	<insert id = "insertNickname" parameterType = "map" useGeneratedKeys="true" keyProperty="NickID">
 		INSERT INTO `usernickname`
 			(`nickname`)
 		VALUE(
 			#{nickname}
 		)
 	</insert>
 	
 	<update id = "updateNickname" parameterType = "map">
 		UPDATE `usernickname`
	 		SET `UID` = #{UID}
 			WHERE `NickID` = #{NickID}
 	</update>
 	
 	<select id="selectNicknameByNickID" parameterType="map" resultType="String">
 		SELECT `nickname`
 		FROM `usernickname`
 		WHERE NickID = #{NickID}
 	</select>
 	
 </mapper>