<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.routinergram.activity.repository.ActivityRepository">
 
 	<select id="selectUserActivity" parameterType="int" resultType="com.routinergram.activity.domain.UserActivity">
 	
 		SELECT
 			`activityUID`,`UID`,`uploadCount`,`replyCount`,`visitCount`,`level`,`createdAt`,`updatedAt`
 		FROM `useractivity`
 		WHERE `UID` = #{UID}
 	
 	</select>
 
 	<insert id="insertUserActivity" parameterType="int">
 	
 		INSERT INTO `useractivity` (`UID`)
		VALUE (#{UID});
 	
 	</insert>
 
 	<update id="updateVisitCount" parameterType="int">
 	
 		UPDATE `useractivity`
	 		SET 
	 			`visitCount` = `visitCount` + 1
	 			,`updatedAt` = now()
	 		WHERE `UID` = #{UID}
 	
 	</update>
 	
 	<update id="updateUploadCount" parameterType="int">
 	
 		UPDATE `useractivity`
	 		SET 
	 			`uploadCount` = `uploadCount` + 1
	 			,`updatedAt` = now()
 			WHERE `UID` = #{UID}
 	
 	</update>
 
 </mapper>