<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.routinergram.user.repository.UserinfoRepository">
 	
 	<select id = "countEmail" parameterType="map" resultType="int">
 		SELECT COUNT(1) 
 			FROM userinfo
 			WHERE email = #{email}
 	</select>
 	
 	<insert id = "insertUserinfo" parameterType = "map" useGeneratedKeys="true" keyProperty="UID">
 		INSERT INTO `userinfo`
 			(`email`,`salt`,`password`,`NickID`,`ITRID`)
 		VALUE(
 			#{email}
 			,#{salt}
 			,#{password}
 			,#{NickID}
 			,#{ITRID}
 		)
 	</insert>
 	
 	<select id = "loginSelect" parameterType="map" resultType="com.routinergram.user.domain.Userinfo">
 		SELECT 
 			`UID`
 			,`email`
 			,`password`
 			,`salt`
 			,`NickID`
 			,`ITRID`
 			,`profileImage`
 			,`createdAt`
 			,`updatedAt`
		FROM `userinfo`
		WHERE 
			`email`= #{email} 
			AND `password` = #{password}
 	</select>
 	
 	<select id="selectSalt" parameterType="map" resultType="String">
 		SELECT `salt`
 		FROM `userinfo`
 		WHERE
 			`email`= #{email}
 	</select>
 	
 	<select id="selectUserInfoByUID" parameterType="int"  resultType="com.routinergram.user.domain.Userinfo">
		SELECT 
 			`UID`
 			,`email`
 			,`password`
 			,`salt`
 			,`NickID`
 			,`ITRID`
 			,`profileImage`
 			,`createdAt`
 			,`updatedAt`
		FROM `userinfo`
		WHERE 
			`UID`= #{UID} 
 	</select>
 	
 </mapper>